/* El tamaño total del header es 80% de la pagina
   El Padding es el espacio de arriba 
   El margin es el espacio izquierdo
*/
header{
    margin: 45px;
    width: 90%;
    box-shadow: 5px 2px 2px 1px rgba(115, 206, 112, 0.2);
}
/* el display inline-block es para aliniar los elementos vertical*/
nav{
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.menu img{
    display: block;
    margin:auto;
}
.menu ul li{
    display: inline-block;
    
}

.menu ul li a{
    background-color: rgba(113, 228, 126, 0.562);
    color:rgb(44, 48, 38);
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 20px 20px 20px 10px;
}
.menu ul li a:hover{
    background-color: rgba(77, 99, 77, 0.507);
    border-radius: 10px 10px 10px 10px;
}

    
/* OPCIONES
 --Para un menu correcto priora el margin que separa los espacios del borde de la hoja
 * El display inline block EN UNA CLASE + UL LI ACLARANDO QUE SE CREA UNA LISTA para que este en linea recta o display block para que este vertical
 * atributo color para el texto background-color para el color de fondo
 * Border radius para darle un mejor estilo a cada casilla 
 *text decoration none para quitar la linea de abajo de los A 
 *margin rigth para espacios entre listas verticales

