.aside_R{
    margin: 5px 5px;
    float: right;
    width: 40%;
}
.tabla{
    float: right;
}
.aside_R img{
    display: block;
    margin: auto;
    border-radius: 30%;
    box-shadow: 5px 5px 2px;
}

.aside_R img:hover{
    box-shadow:
    1px 1px #53ea74,
    2px 2px #27792b,
    3px 3px #acbbb1;
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
}