.page{
    margin: 20px;
    width: 90%;
    display: table;
    background-color: #7fff8546;
    border-radius: 20px 20px 20px;
}
.info--p{
    float: left;
    padding: 20px;
    margin: 20px;
    width: 50%;
}
